body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    padding: 50px;
}

.container {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-width: 350px;
}

h1 {
    color: #333;
}

#breedDisplay {
    font-size: 18px;
    margin: 20px 0;
    color: #555;
}

.image-container {
    margin: 20px 0;
    /*background: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Initially hide the image until it's fully loaded */
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3498db;
}

/* Spinner styles 
.spinner {
    font-size: 18px;
    color: #555;
    margin: 20px 0;
    display: none;
}*/

 .spinner {
  border: 8px solid #f3f3f3;  /*Light grey */
  border-top: 8px solid #3498db; /*  Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}