* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E2E4FF;
  color: #141739;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.head {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  border: none;
  padding: 4px 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.8;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.del {
  background: #CF2E2E;
  color: #E9F7FF;
}

.addEventModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  min-height: 150px;
  width: 360px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.addEventModal input {
  font-size: 22px;
  border: none;
  background: #E2E4FF;
  border-radius: 5px;
  padding: 4px;
  width: 90%;
  margin: 7px 0;
}
table {
  margin-top: 50px;
  width: 350px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}
table tr td, th {
  padding: 10px 0;
}
.actions button {
  margin: 0 20px;
}