body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #E7E8EF;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header h1 {
  color: #5151e5;
}

header {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
}

footer {
    bottom: 0;
}

h1 {
    margin: 0;
    font-size: 2.7em;
    color: #343a40;
}

.content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.scrollable-container {
    height: calc(100vh - 160px);
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 80px;
    box-sizing: border-box;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin: 80px 0px 60px 0px;
}

.project {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project-name {
    padding: 10px;
    font-size: 1.2em;
    color: #495057;
}

footer p {
    margin: 0;
    color: #495057;
}
.fa-solid {
  font-size: 33px;
  font-weight: 700;
  color: #5151e5;
}