* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F2F8FF;
  color: #141739;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.add {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
}

.plus {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plus::before {
  content: "+";
  font-size: 60px;
  font-weight: 600;
  color: #C8F2FF;
}

.pop {
  width: 100%;
  height: 300px;
  padding: 3%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 2;
  display: none;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pop.open {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.head {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.icon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #141739;
  /*background-color: #C8F2FF;*/
  border-radius: 15px;
  padding: 15px;
}